.hb-wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 20px;
    /* background-color: #FFF6F7; */
}
.hb-design{
    position: absolute;
    right: -0px;
    top: 0px;
    height: 130%;
    object-fit:contain;

}
.hb-main-heading{
    margin-top: 150px;
font-size: 100px;
font-weight: 400;
line-height: 91.4%;
width: max-content;
margin-bottom: 20px;
color: black;

}
.hb-content{
    width: 400px;
}


@media only screen and (max-width:576px){
    .hb-wrapper{
        background-image: url("../../Assets/Images/hb-bg-phone.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .hb-main-heading{
        margin-top: 150px;
    font-size: 40px;
    font-weight: 400;
    line-height: 110.4%;
    width: max-content;
    margin-bottom: 20px;
    color: white;

    
    }
    .hb-content{
        width: 300px;
    }
}